body{
    font-family: Arial, sans-serif;
}

.hero{
    height:500px;
    background:url('../images/banner.jpg') center/cover;
    color:white;
}

.overlay{
    height:100%;
    background:rgba(0,0,0,0.6);
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.card:hover{
    transform:translateY(-5px);
    transition:0.3s;
}

footer{
    background:#212529;
    color:white;
    padding:20px;
}

.gallery img{
    height:250px;
    object-fit:cover;
}